<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META TAGS-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find creative internships that pay above the living wage in NYC.">
    <meta name="keywords" content="Amsterdam, Design, Internships, Paid Internships, traineeship, trainees, creative, agency, company">
    <meta name="author" content="Peter Javorkai">

    <meta property="og:url"           content="http://payinterns.amsterdam" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Amsterdam Paid Creative Internships" />
    <meta property="og:description"   content="Find creative internships that pay above the living wage in Amsterdam." />
    <meta property="og:image"         content="<%= image_url('social_payinterns_amsterdam.png') %>" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@javpet">
    <meta name="twitter:creator" content="@wjavpet">
    <meta name="twitter:title" content="Amsterdam Paid Creative Internships">
    <meta name="twitter:description" content="Find creative internships that pay above the living wage in Amsterdam.">
    <meta name="twitter:image" content="<%= image_url('social_payinterns_amsterdam.png') %>">


    <title><%= content_for :page_title %> Great companies that pay fair amount of money to their interns</title>

    <!-- STOCK RAILS -->
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'payinterns_amsterdam_favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117276143-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117276143-1');
    </script>

    <!-- Twitter -->
    <script async>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    </script>

    <!-- Facebook  -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=170343396836980';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </head>

  <body>
    <main>
        <%= yield %>
    </main>

    <div id="questions">?</div>

      <!-- Pop-up -->
      <div class="popup">
        <div class='popup_inner'>
          <ul>
            <li>
              <label>Who made this, and why?</label>
              <p>It's <a href="http://barronwebster.com" target="blank">Barron</a> and <a href="http://peterjavorkai.com" target="blank">Peter</a> here. We made this to help anyone find an internship that they can afford to take in Amsterdam. Internships are arguably the best way to get a foot in the door in the creative industry, but living within the canals ain't cheap.</p>
            </li>
            <li>
              <label>How was this data gathered?</label>
              <p>All the places are on this list were submitted by people who claim to work there or have worked there. It's not scientific or perfect, but it's worked so far. If any of the places are listed incorrectly, contact us!</p>
            </li>
            <li>
              <label>Why €1578/month?</label>
              <p>€1578 is the current living wage / month for Amsterdam, according to <a href="https://www.government.nl/topics/minimum-wage/amount-of-the-minimum-wage">Dutch government and the municipality of Amsterdam. This number is ajdusted yearly — it went from €1565 to €1578 recently.</a> We strongly believe that, there shouldn't be an age differentiation either.</p>
            </li>
            <li>
              <label>I know/am an employer who fits this description. <br/>Can you include them/me?</label>
              <p>Yes! Use <%= link_to "this form", new_company_path %> to submit.</p>
            </li>
          </ul>
        </div>
      </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'false' %>
  </body>
</html>
